.White {
  background: white;
}
.Blue {
  background: blue;
  color: gray;
}
.Orange {
  background: orange;
}
.Red {
  background: red;
}
.Yellow {
  background: yellow;
}
.Purple {
  background: purple;
}
.Pink {
  background: pink;
}
.Green {
  background: green;
}
.Lime {
  background: lime;
}
.LightGray {
  background: lightgray;
}