.folder_conteiner {
    display: flex;
    gap: 25px
}

.folder {
    margin: 5px;
    padding: 5px;
    border: brown solid 2px;
}

.new_note_form {
    padding: 3px;
    border: goldenrod dashed 2px;
}



.White {
    background: white;
}
.Blue {
    background: blue;
    color: gray;
}
.Orange {
    background: orange;
}
.Red {
    background: red;
}
.Yellow {
    background: yellow;
}
.Purple {
    background: purple;
}
.Pink {
    background: pink;
}
.Green {
    background: green;
}
.Lime {
    background: lime;
}
.LightGray {
    background: lightgray;
}